In [1]:
import  pandas as pd

In [148]:
df = pd.read_csv("https://bit.ly/ds-house-price")
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [149]:
df = df.rename(columns = {'분양가격(㎡)' : '분양가격'})

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

1. 분양가격 컬럼의 데이터의 형태를 int의 형태로 변경 (결측치는 0으로)
2. 규모구분 컬럼의 '전용면적' 단어를 삭제
3. 지역, 규모구분 별 분양가격의 평균가

NAN -> 결측치 : 값이 존재하지 않는다.
"" -> 공백이라는 데이터
" " -> 데이터
"   " -> 데이터

소연풀이

In [89]:
df['분양가격']

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503       0
4504    3601
Name: 분양가격, Length: 4505, dtype: object

In [132]:
df['분양가격'] = df['분양가격'].str.replace(",","").str.replace("-","").replace("  ","").replace('',)

In [133]:
df['분양가격'].astype(float)

0       5841.0
1       5652.0
2       5882.0
3       5721.0
4       5879.0
         ...
4500    3955.0
4501    4039.0
4502    3962.0
4503       NaN
4504    3601.0
Name: 분양가격, Length: 4505, dtype: float64

In [134]:
df['분양가격'] = df['분양가격'].fillna(0)

In [139]:
df['분양가격'] = df['분양가격'].astype(int)

In [108]:
df['규모부분'] = df['규모구분'].str.replace("전용면적","")

교수님 풀이

In [119]:
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [150]:
# 공백 제거 (문자열 양쪽 공백 제거)
df['분양가격'] = df['분양가격'].str.strip()

In [151]:
# 콤마 제거
df['분양가격'] = df['분양가격'].str.replace(",", "")
# - 제거
df['분양가격'] = df['분양가격'].str.replace('-', '')
# 빈 데이터 0으로 대체
df.loc[df['분양가격'] == "", '분양가격'] = 0
# 결측치 0으로 대체
df['분양가격'].fillna(0, inplace=True)

In [ ]:
df['분양가격'] = df['분양가격'].astype(int)

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 158.5+ KB

In [153]:
# 규모구분에서 '전용면적'을 삭제
df['규모구분'].value_counts()

전체                   901
전용면적 60㎡이하           901
전용면적 60㎡초과 85㎡이하     901
전용면적 85㎡초과 102㎡이하    901
전용면적 102㎡초과          901
Name: 규모구분, dtype: int64

In [154]:
df['규모구분'] = df['규모구분'].str.replace('전용면적 ', '')

In [155]:
df.groupby(['지역명', '규모구분']).mean([['분양가격']])

                          연도         월
지역명 규모구분
강원  102㎡초과        2017.45283  6.566038
    60㎡이하         2017.45283  6.566038
    60㎡초과 85㎡이하   2017.45283  6.566038
    85㎡초과 102㎡이하  2017.45283  6.566038
    전체            2017.45283  6.566038
...                      ...       ...
충북  102㎡초과        2017.45283  6.566038
    60㎡이하         2017.45283  6.566038
    60㎡초과 85㎡이하   2017.45283  6.566038
    85㎡초과 102㎡이하  2017.45283  6.566038
    전체            2017.45283  6.566038

[85 rows x 2 columns]