In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\shoni\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shoni\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shoni\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\shoni\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\shoni\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
# 스리즈 형태의 데이터를 생성
pd_list = pd.Series([5000, 6000, 6500, 6500], index = ['아메리카노', '카페라떼', '카페모카', '카푸치노'])

In [4]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [5]:
print('스리즈 형태의 데이터에서 index의 값은 : ', pd_list.index)
print('스리즈 형태의 테이터에서 value의 값은 : ', pd_list.values)

스리즈 형태의 데이터에서 index의 값은 :  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')
스리즈 형태의 테이터에서 value의 값은 :  [5000 6000 6500 6500]

In [7]:
# 2차원 데이터셋
# 데이터프레임 생성
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns = _column)    # df라는 변수에 이 값을 저장하겠다는 뜻
df  # 데이터만 입력하면 print하지 않아도 확인할 수 있다. (윗 줄까지만 쓰면 결과가 보여지지 않는다.)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
print("데이터프레임의 인덱스의 값", df.index)
print("데이터프레임의 컬럼의 값", df.columns)
print("데이터프레임에서 밸류의 값", df.values)

데이터프레임의 인덱스의 값 Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼의 값 Index(['A', 'B', 'C'], dtype='object')
데이터프레임에서 밸류의 값 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [9]:
# 딕셔너리 형태의 데이터를 가지고 dataframe 생성
_value = {
    "name" : ["test", "test2", "test3"],
    "age" : [20, 30, 25],
    "phone" : ["01012345678", "01098765432", "01011112222"]
}
print(_value)

{'name': ['test', 'test2', 'test3'], 'age': [20, 30, 25], 'phone': ['01012345678', '01098765432', '01011112222']}

In [10]:
df2 = pd.DataFrame(_value)      # 딕셔너리 형태의 데이터를 dataframe 사용하면, 키값을 컬럼에 넣어준다.
df2

    name  age        phone
0   test   20  01012345678
1  test2   30  01098765432
2  test3   25  01011112222

In [11]:
# dataframe에서 series 뽑아낼 수 있다.
df2['name']     # 대괄호의 뜻은 어떤 '키'값을 가지고 오겠다는 뜻

0     test
1    test2
2    test3
Name: name, dtype: object

In [12]:
df2.name        # 어디에서 가져온다는 의미는 원래 .를 사용하는데, 이 때 위처럼 대괄호를 쓰는 이유는, 컬럼의 이름을 숫자로 시작할 수 없기 때문에 오류방지
                # 사실상 같은 의미를 가진다.

0     test
1    test2
2    test3
Name: name, dtype: object